<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:file="http://www.springframework.org/schema/integration/file"
	xmlns:int-mqtt="http://www.springframework.org/schema/integration/mqtt"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
        http://www.springframework.org/schema/integration/mqtt http://www.springframework.org/schema/integration/mqtt/spring-integration-mqtt.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="clientFactory" class="org.springframework.integration.mqtt.core.DefaultMqttPahoClientFactory">
		<property name="connectionOptions">
			<bean class="org.eclipse.paho.client.mqttv3.MqttConnectOptions">
				<property name="userName" value="${mqtt.username}" />
				<property name="password" value="${mqtt.password}" />
				<property name="serverURIs">
					<array>
						<value>${mqtt.url}</value>
					</array>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="mqttHandler" class="org.springframework.integration.mqtt.outbound.MqttPahoMessageHandler">
		<constructor-arg name="clientId" value="${mqtt.clientId}" />
		<constructor-arg name="clientFactory" ref="clientFactory" />
		<property name="async" value="${mqtt.async}" />
		<property name="defaultQos" value="${mqtt.defaultQos}" />
		<property name="completionTimeout" value="${mqtt.completionTimeout}" />
	</bean>
	
</beans>